.chat {
    display: flex;
    flex-direction: column;
    flex: 1;

    width: 100%;
    min-height: 0;
}

.messages {
    display: flex;

    flex-direction: column;

    gap: 12px;

    padding: 32px 96px;

    flex: 1;

    overflow-y: auto;
    scrollbar-color: var(--text-color) var(--main-content-bg-color);
}
@media (max-width: 800px) {
    .messages {
        padding: 32px 20px;
    }
}
.messages::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
.messages::-webkit-scrollbar-track {
    background-color: var(--main-content-bg-color);
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.question-container,
.answer-container {
    display: flex;
    gap: 8px;

    transition: width 0.2s ease, height 0.2s ease;
}
.question-container {
    flex-direction: row-reverse;
}
.question-content,
.answer-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.006em;

    min-width: 40px;
    max-width: 752px;
    padding: 12px;

    border-radius: 16px;
}
.question-content {
    background-color: #4f46e5;
    color: var(--question-text-color);
}
.answer-content {
    background-color: var(--bg-color);

    border: 1px solid var(--border-color);

    color: var(--answer-text-color);

    transition: width 0.2s ease, height 0.2s ease;
}
/* AI answer markdown & HTML tags reset  */
.answer-content p {
    margin: 0;
}
.answer-content ul,
.answer-content ol {
    margin: 0;
    padding-left: 20px;
}
.answer-content h1,
.answer-content h2,
.answer-content h3 {
    margin: 0;
    font-size: inherit;
    font-weight: bold;
}
.answer-content pre {
    background-color: #1e1e1e;
    color: white;
    border-radius: 4px;
    padding: 5px;

    overflow-x: auto;
}

.question-content {
    background-color: #4f46e5;
}

.question-time,
.answer-time {
    align-self: flex-end;

    width: 32px;
    height: 16px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.005em;
}
.question-time {
    color: var(--question-muted-color);
}
.answer-time {
    color: var(--muted-text-color);
}

.question-avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    overflow: hidden;
}
.question-avatar > img {
    width: 100%;
    height: 100%;
}

.answer-avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: var(--ai-avatar-bg);
}
.answer-avatar > span {
    width: 40px;
    height: 22px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.007em;

    color: #4f46e5;
}
