html,
body,
#root {
    height: 100%;
    max-height: 100vh;
    margin: 0;

    background-color: #ffffff;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/PlusJakartaSans.ttf') format('truetype');
}

#root {
    display: flex;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    min-width: 700px;

    background-color: #f8fafc;
}
